{% load static %}
{% block subcontent %}
<div class="c_subContentHolder_Left">
    <p></p>
    <!-- ENTER content in HERE -->
      <div class="c_Style_WhiteBckgrnd">
        Currently Looking For:  
        <br> <span> Cross Platform Mobile Developers </span>
        <br> <span> Platform Specific Mobile Developers </span>
        <br> <span> Mobile Development Testers </span>
        <br> <span> UX Designers </span>
        <br> <span> Social Media Influencers </span>
        <br> <span> Psychology Students </span>
        <br> <span> Branding  </span>
      </div>
    <!-- END of content -->
</div>
{% endblock %}
